
<link rel="stylesheet" href="/static/Extract/index_img/Cooldog.css">
<link rel="stylesheet" href="/static/Extract/index_img/iconfont.css">
<script type="text/javascript" src="/static/Extract/index_img/Cooldog.js"></script>

<div class="Cooldog_container">
    <div class="Cooldog_content">
        <ul>
            <li class="p1">
                <a href="#">
{#                    <img src="/static/Extract/index_img/image/1.png" alt="">#}
                    <img src="/static/Extract/index_img/image/nnxy_1.jpg" alt="">
                </a>
            </li>
            <li class="p2">
                <a href="#">
{#                    <img src="/static/Extract/index_img/image/2.png" alt="">#}
                    <img src="/static/Extract/index_img/image/nnxy_2.jpg" alt="">
                </a>
            </li>
            <li class="p3">
                <a href="#">
{#                    <img src="/static/Extract/index_img/image/3.png" alt="">#}
                    <img src="/static/Extract/index_img/image/nnxy_3.jpg" alt="">
                </a>
            </li>
            <li class="p4">
                <a href="#">
{#                    <img src="/static/Extract/index_img/image/4.png" alt="">#}
                    <img src="/static/Extract/index_img/image/nnxy_4.jpg" alt="">
                </a>
            </li>
            <li class="p5">
                <a href="#">
{#                    <img src="/static/Extract/index_img/image/5.png" alt="">#}
                    <img src="/static/Extract/index_img/image/nnxy_5.jpg" alt="">
                </a>
            </li>
            <li class="p5">
                <a href="#">
{#                    <img src="/static/Extract/index_img/image/6.png" alt="">#}
                    <img src="/static/Extract/index_img/image/nnxy_6.jpg" alt="">
                </a>
            </li>
            <li class="p5">
                <a href="#">
{#                    <img src="/static/Extract/index_img/image/7.png" alt="">#}
                    <img src="/static/Extract/index_img/image/nnxy_7.jpg" alt="">
                </a>
            </li>
        </ul>
    </div>




    <a href="javascript:;" class="btn_left">
        <i class="iconfont icon-zuoyoujiantou"></i>
    </a>
    <a href="javascript:;" class="btn_right">
        <i class="iconfont icon-zuoyoujiantou-copy-copy"></i>
    </a>
    <a href="javascript:;" class="btn_close">
        <i class="iconfont icon-icon-test"></i>
    </a>
    <div class="buttons clearfix">
        <a href="javascript:;" class="color"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
        <a href="javascript:;"></a>
    </div>
</div>