<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/index/site.css">
    <link href="/static/index/index_content.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/index/page/css/pagination.css" />
    <script src="/static/index/page/js/jquery.min.js"></script>
    <script src="/static/index/page/js/pagination.js"></script>

    {# 背景特效 #}
    <link rel="stylesheet" href="/static/back/back_style.css" />




</head>
<body>

{% include './head.html'%}
{% include './head2.html'%}

<div style="padding-top:55px;width: 65%;margin-left:16%;">


    {% include 'index_img.html' %}

    <div  class="container-block article-list" style="background-color: rgb(255, 255, 255); border-radius: 6px; padding: 20px;min-height: 1035px;width: 100%">

        {% for title in article_list %}
            <div style="border-bottom: 1px solid rgb(244, 244, 244); margin-bottom: 15px;width: 90%;margin: auto;box-shadow: 5px 5px 10px #ececec;padding-top: 15px;background-color: #eeeeee1f;    border-top: 1px solid #d8d0d0;border-radius: 6px ">
                <div style="padding-left: 5px;color: rgb(51, 51, 51); font-size: 16px; margin-bottom: 1px; position: relative">
                    <a>
                        {% if title.lost_type == 0 %}
                            <button type="button" class="btn btn-danger btn-xs">遗失</button>
                        {% else %}
                            <button type="button" class="btn btn-success btn-xs">拾取</button>
                        {% endif %}
                        <a href="/index/content/?article_id={{ title.article_id }}"  style="color: #0F2027">{{ title.title }}</a>
                        <span style="position: absolute; right: 10px; font-size: 12px; color: rgb(155, 155, 155);">{{ title.releasedate }}</span>
                    </a>
                </div>
            <div style="color: rgb(153, 153, 153); font-size: 13px; line-height: 24px; padding-bottom: 15px;">
{#                {{ title.content }}#}
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 15px;">
                <div>
                    <button type="button" class="btn btn-info btn-xs" role="button"
                            style="margin-right: 10px;">{{ title.addr }}
                    </button>
                    <button type="button" class="btn btn-info btn-xs" role="button"
                            style="margin-right: 10px;">{{ title.item }}
                    </button>
                    <button type="button" class="btn btn-info btn-xs" role="button"
                            style="margin-right: 10px;">{{ title.lostdate }}
                    </button>
                </div>
                <div style="padding-top: 8px; font-size: 12px; color: rgb(155, 155, 155);">
                    <span style="margin-right: 5px;">发布人: {{ title.uid }}</span>

                    <span style="margin-right: 5px;">评论: {{ title.reply_num }}</span>
                </div>
            </div>
        </div>
        {% endfor %}



        <div style="width: 100%;padding-top: 10px;">
            <div style="margin: auto;text-align: center">
                <div class="box" id="wrap1"></div>
            </div>
        </div>




    </div>

</div>

{#右边#}

{% include 'left.html' %}
{#底部#}
{% include "foot.html" %}




<script type="text/javascript">

    $().ready(function () {
        // the body of this function is in assets/material-kit.js
        materialKit.initSliders();
        window_width = $(window).width();

        if (window_width >= 992) {
            big_image = $('.wrapper > .header');

            $(window).on('scroll', materialKitDemo.checkScrollForParallax);
        }

    });

    var onPagechange = function (page) {
        console.log('当前点击页码', page);
    }
    var obj = {
        wrapid: 'wrap1', //页面显示分页器容器id
        total:{{ total }},//总条数
        pagesize: 10,//每页显示10条
        currentPage:{{ currentPage }},//当前页
        onPagechange: onPagechange,

        //btnCount:7 页数过多时，显示省略号的边界页码按钮数量，可省略，且值是大于5的奇数
    }
    pagination.init(obj);

</script>


</body>
</html>
